// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(//db.onlinewebfonts.com/c/cf3b1825f5b015ebd8dcdc3e97ac129c?family=Fugue);
@import url("http://fonts.cdnfonts.com/css/gotham");



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Gotham", sans-serif;
  background-color: #fbfcfd;
}

.loadergif {
  position: absolute;
  z-index: 9999999;
  background: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.h-100vh {
  height: 100vh;
}

h4 {
  color: white;
  font-size: 2em;
  margin-bottom: 12px !important;
  font-family: "Gotham", sans-serif;
}

.nav-log {
  // background-color: #450b7c;
  background-image: linear-gradient(to top right, #061530, #180C9A);
  border-radius: 0px 0px 40px 40px;
}

/* menu stylig *************************/
#logo {
  width: 90px;
  margin-top: 10px;
  margin-left: 2em;
  margin-bottom: 10px;
}

.navi_content {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-size: calc(2vw + 6px);
  font-weight: 400;
  cursor: pointer;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav_list {
  padding-left: 0 !important;
}

.navi_list-item {
  /* position: relative; */
  display: inline-block;
  margin-right: 25px;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
  right: 11em;
  opacity: 0;
}

.navi_list-item a {
  text-decoration: none;
  color: #000000;
}

.navi_list-item a:hover {
  color: #000000;
}

.navi_list-item::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 20%;
  height: 1px;
  top: 100%;
  z-index: -1;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navi_list-item:hover:before {
  width: 100%;
}

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 2;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

.menu-icon_line {
  width: 40px;
  height: 3px;
  display: block;
  background-color: white;
  margin-bottom: 4px;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
}

.menu-icon_line-left {
  width: 20px;
}

.menu-icon_line-right {
  width: 20px;
  float: right;
}

body.navi-active .menu-icon_line {
  background-color: black;
  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

.navi {
  position: fixed;
  z-index: 1;
}

.navi::before,
.navi::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(234, 234, 234, 0.2);
  z-index: -1;
  -webkit-transform: translateX(0%) translateY(-100%);
  transform: translateX(0%) translateY(-100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s,
    -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
}

.navi::after {
  background-color: white;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.navi::before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

body.navi-active .navi::before,
body.navi-active .navi::after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

body.navi-active .navi::after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

body.navi-active .navi::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.navi-active .navi_list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
}

body.navi-active .navi_list-item:nth-child(0) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

body.navi-active .navi_list-item:nth-child(1) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

body.navi-active .navi_list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

body.navi-active .navi_list-item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

body.navi-active .navi_list-item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

body.navi-active .navi_list-item:nth-child(5) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/* End menu stylig *************************/
.user-show {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.user-zone {
  display: flex;
  height: 80vh;
  width: 90vw;
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.575);
  margin-top: 4em;
  flex-direction: column;
}

.manage-user {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  align-items: center;
}

.setting {
  margin-right: 2em !important;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.shape-profile {
  height: 10%;
}

.user-pic {
  width: 23%;
  background-color: white;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ff1902;
}

.the-pic {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.info-zone {
  width: 45%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  width: 80%;
  margin-bottom: 1em;
  font-size: 50px;
  font-weight: 900;
}

.discreption-pic {
  width: 80%;
}

.interest-input {
  background-color: transparent;
  border: none;
  color: #180C9A;
}

.interest{
    display: flex;
    flex-flow: wrap;
    width: 50%;
}

.p-interest{
    background-color: whitesmoke;
    padding: 2px 8px;
    margin: 0px 10px 10px 0px;
    border-radius: 50px;
    color: #716b6b;
    font-size: 12px;
}

.call {
    padding: 0.2vw 1vh 0vh 0.2vw;
    background-color: #ff1902;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 3px black;
}

.setting {
  width: 30px;
  background-color: transparent;
  border: none;
}

// ***************items styliyng***********

.all-items {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-zone {
  height: 100%;
  width: 90vw;
  border-radius: 25px;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.575);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

  .item-zone::-webkit-scrollbar {
    display: none;
  }

  .item-zone {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.product-pic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2opx;
  grid-row-gap: 6rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  height: 80%;
}

.y {
  width: 15em;
  height: 29vh;
  //   background-color: whitesmoke;
  border-radius: 1rem;
  border: 2px solid #ff1902;
  position: relative;
  overflow: hidden;
  border: 3px solid whitesmoke;
}

.z {
  width: 15em;
  height: 29vh;
  border-radius: 1rem;
  border: 2px solid #180C9A;
  position: relative;
  overflow: hidden;
  border: 3px solid whitesmoke;
  //   background-color: whitesmoke;
}

.y::after, .z::after{
  content: "";
  position: absolute;
  width: 15em;
  height: 34vh;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.534);
  // top: 10%;
  left: 0%;
  transform: translate(-0%, 100%);
  transition: .6s;
  z-index: 3;
}

.y:hover::after, .z:hover:after{
  transform: translate(-0%, 0%);
}

.view{
  position: absolute;
  left: 22%;
  top: 35%;
  transform: translate(50%, 500%);
  font-size: 28px;
  color: white !important;
  z-index: 4;
  transition: .6s;
}

.deletePost{
  position: absolute;
  left: 12%;
  top: 46%;
  transform: translate(50%, 500%);
  font-size: 28px;
  color: white !important;
  z-index: 4;
  transition: .6s;
}

.y:hover a, .z:hover a{
  transform: translate(50%, 50%);
}

.img-product {
  width: 80%;
  margin-top: 25%;
  margin-left: 10%;
}

// *********btns style*******

.btns {
  padding-top: 5em;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
}

.btn1 {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ff1902;
  border: none;
}

.btn2 {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #180C9A;
  border: none;
}
// ************popup**************
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
}

.popup {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-top: 2em;
  height: 70vh;
  width: 30em;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.575);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnX {
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
  margin-top: -1em;
}

.edit-info {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-edit {
  width: 90%;
  height: 85%;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.39);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 2em;
}

.inbtn {
  width: 100%;
  height: 2em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
  margin-top: 7px;
}

// ******favourites popup style******

.fav-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2opx;
  grid-row-gap: 3rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  width: 95%;
  height: 85%;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.39);
  border-radius: 20px;
  padding: 1em;
  overflow-y: scroll;
}

.fav-div::-webkit-scrollbar {
  display: none;
}

.fav-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.w {
  width: 10em;
  height: 20vh;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border: 3px solid whitesmoke;
}

.v {
  width: 10em;
  height: 20vh;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border: 3px solid whitesmoke;
}

.w::after, .v::after{
  content: "";
  position: absolute;
  width: 10em;
  height: 20vh;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.534);
  // top: 10%;
  left: 0%;
  transform: translate(-0%, 100%);
  transition: .6s;
  z-index: 3;
}

.w:hover::after, .v:hover:after{
  transform: translate(-0%, 0%);
}

.viewf{
  position: absolute;
  left: 20%;
  top: 32%;
  transform: translate(50%, 500%);
  font-size: 22px;
  color: white !important;
  z-index: 4;
  transition: .6s;
}

.w:hover a, .v:hover a{
  transform: translate(50%, 50%);
}

// *******contact show popup style**********

.show-contact {
  width: 95%;
  height: 85%;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.39);
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.show-p {
  border-radius: 20px;
  border: 1px solid #180C9A;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.show-p:hover {
  background-color: #ff1902;
  color: white;
  border: none;
  box-shadow: 0px 1px 6px black;
}

.stopscroll {
  overflow-y: hidden;
}

// ********Add offer popup style***********
.Add-offer{
  width: 95%;
  height: 85%;
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.39);
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.labelAdd{
  width: 90%;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}

.labelAdd:hover{
  background-color: #ff1902;
  color: black;

}

label i{
  margin-right: 1em;
  font-size: 20px;
}

.btnAdd{
  background-color: black;
  width: 100%;
  color: white;
  border-radius: 10px;
  border: none;
  height: 6%;
}

.btnAdd:hover{
  background-color: #ff1902;
  color: black;
}


/*# sourceMappingURL=product.css.map */

@media screen and (max-width: 1300px){
  .user-pic{
    width: 32%;
    height: 52%;
  }

  .product-pic{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
  }

  .z {
    width: 14em;
    height: 32vh;

}

  .y {
    width: 14em;
    height: 32vh;
  }
}

@media screen and (max-width: 900px){
  .user-pic{
    width: 38%;
    height: 40%;
  }

  .product-pic{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
  }

  .z {
    width: 14em;
    height: 32vh;

}

  .y {
    width: 14em;
    height: 32vh;
  }
}

@media screen and (max-width: 600px){
  .user-pic{
    width: 40%;
    height: 32%;
  }
  .call {
    font-size: 0.8em;
  }

  .product-pic{
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr))
  }

  .z {
    width: 12em;
    height: 28vh;

}

  .y {
    width: 12em;
    height: 28vh;
  }

  h3{
    font-size: 18px !important;
    margin-left: 1em;
  }

  .call{
    margin-right: 1em;
  }

  .deletePost {
    left: 10%;
}

  .view {
  left: 20%;
  }
}
