@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(//db.onlinewebfonts.com/c/cf3b1825f5b015ebd8dcdc3e97ac129c?family=Fugue);
@import url(http://fonts.cdnfonts.com/css/gotham);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Gotham", sans-serif;
  background-color: #fbfcfd;
}

.loadergif {
  position: absolute;
  z-index: 9999999;
  background: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.h-100vh {
  height: 100vh;
}

h4 {
  color: white;
  font-size: 2em;
  margin-bottom: 12px !important;
  font-family: "Gotham", sans-serif;
}

.nav-log {
  background-image: linear-gradient(to top right, #061530, #180C9A);
  border-radius: 0px 0px 40px 40px;
}

/* menu stylig *************************/
#logo {
  width: 90px;
  margin-top: 10px;
  margin-left: 2em;
  margin-bottom: 10px;
}

.navi_content {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-size: calc(2vw + 6px);
  font-weight: 400;
  cursor: pointer;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
}

.nav_list {
  padding-left: 0 !important;
}

.navi_list-item {
  /* position: relative; */
  display: inline-block;
  margin-right: 25px;
  transform: translate(0%, 100%);
  transition-delay: 0.8s;
  transition: opacity 0.2s ease, transform 0.3s ease;
  right: 11em;
  opacity: 0;
}

.navi_list-item a {
  text-decoration: none;
  color: #000000;
}

.navi_list-item a:hover {
  color: #000000;
}

.navi_list-item::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 20%;
  height: 1px;
  top: 100%;
  z-index: -1;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
}

.navi_list-item:hover:before {
  width: 100%;
}

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 2;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

.menu-icon_line {
  width: 40px;
  height: 3px;
  display: block;
  background-color: white;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon_line-left {
  width: 20px;
}

.menu-icon_line-right {
  width: 20px;
  float: right;
}

body.navi-active .menu-icon_line {
  background-color: black;
  transform: translateX(0px) rotate(-45deg);
}

.navi {
  position: fixed;
  z-index: 1;
}

.navi::before,
.navi::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transform: translateX(0%) translateY(-100%);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
}

.navi::after {
  background-color: white;
  transition-delay: 0s;
}

.navi::before {
  transition-delay: 0.1s;
}

body.navi-active .navi::before,
body.navi-active .navi::after {
  transform: translateX(0%) translateY(0%);
}

body.navi-active .navi::after {
  transition-delay: 0.1s;
}

body.navi-active .navi::before {
  transition-delay: 0s;
}

body.navi-active .navi_list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.navi-active .navi_list-item:nth-child(0) {
  transition-delay: 0.5s;
}

body.navi-active .navi_list-item:nth-child(1) {
  transition-delay: 0.6s;
}

body.navi-active .navi_list-item:nth-child(2) {
  transition-delay: 0.7s;
}

body.navi-active .navi_list-item:nth-child(3) {
  transition-delay: 0.8s;
}

body.navi-active .navi_list-item:nth-child(4) {
  transition-delay: 0.9s;
}

body.navi-active .navi_list-item:nth-child(5) {
  transition-delay: 1s;
}

/* End menu stylig *************************/
.signboard {
  background-image: linear-gradient(to top right, #061530, #180C9A);
  height: 40vh;
  margin-top: 8em;
  border-radius: 40px;
  margin-bottom: 6em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div_textswap {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div_textswap h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div_textswap p {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.div_imgswap {
  width: 45%;
  display: flex;
  justify-content: center;
}

.new-pro {
  margin-top: 10em !important;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.new-pro h1 {
  letter-spacing: 4vw;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  padding-left: 4vw;
}

.new-pro h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 12vw;
  background-color: #ff1902;
  position: absolute;
  left: 38%;
  top: 2em;
}

.btns {
  padding-top: 5em;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
}

.product-pic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2opx;
  grid-row-gap: 6rem;
  justify-items: center;
  margin-top: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.y {
  width: 20em;
  height: 44vh;
  border: 1px solid #ff1902;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.z {
  width: 20em;
  height: 44vh;
  border: 3px solid whitesmoke;
  border: 1px solid #180C9A;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.y:hover, .z:hover {
  box-shadow: 0 10px 70px rgba(181, 184, 185, 0.425);
  border: none;
}

.img-product {
  width: 80%;
  margin-top: 25%;
  margin-left: 10%;
}

.cat-div {
  min-height: 150px;
}

.cat-title {
  text-align: center;
  top: calc(1.5vh + 6px);
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: calc(1.8vw + 6px);
  border-radius: 20px;
  padding: 1em;
}

.cat-seconddiv {
  background-color: #180c9a0f;
  border-radius: 40px;
  align-items: center;
  border: 2px solid #180C9A;
  border-radius: 40px;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.cat-seconddiv .type {
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}
.cat-seconddiv .type.active_type {
  color: white;
  background-color: #180C9A;
}
.cat-seconddiv .type:first-of-type, .cat-seconddiv .type:last-of-type {
  padding: 1rem 3rem;
}

.type:active {
  background-color: #180C9A;
  color: white;
}

.cat-a {
  text-decoration: none;
  color: #000000;
  list-style: none;
  position: relative;
}

.cat-a::after {
  content: "";
  width: 10px;
  height: 10px;
  top: 8px;
  left: -18px;
  position: absolute;
  background: transparent;
  border: 1px solid #15254260;
  border-radius: 3px;
}

@media screen and (max-width: 1294px) {
  .product-pic {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .z {
    width: 16em;
    height: 35vh;
  }

  .y {
    width: 16em;
    height: 35vh;
  }
}
@media screen and (max-width: 900px) {
  .product-pic {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .z {
    width: 15em;
    height: 33vh;
  }

  .y {
    width: 15em;
    height: 33vh;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    text-align: center;
    font-size: 36px !important;
  }
}
@media screen and (max-width: 530px) {
  .product-pic {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .z {
    width: 13em;
    height: 28vh;
  }

  .y {
    width: 13em;
    height: 28vh;
  }
}
